Django==5.1.7
gunicorn==21.2.0
whitenoise==6.7.0
docx2txt==0.9
PyPDF2==3.0.1
scikit-learn==1.7.2
requests==2.32.3
Pillow==11.3.0
numpy==2.3.2
scipy==1.16.1
dj-database-url==2.2.0
psycopg2-binary==2.9.11
google-auth==2.29.0
google-auth-oauthlib==1.2.1
python-dotenv==1.0.0
